    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 100%vh;
        width: 100%vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(img/bg1.jpeg);
        background-size: cover;
        overflow-x: hidden;
    }
    
    #img_logo {
        max-width: 100px;
        max-height: 100px;
        margin: 0 auto;
    }
    
    .card {
        margin-top: -20px;
    }
    
    .star {
        color: red;
    }
    
    #sign-up-modal .modal-dialog {
        width: 600px;
    }
    
    .fa-eye {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .btn-primary {
        height: 40px;
        margin-bottom: -13px;
        font-size: medium;
    }
    
    .logo {
        font-size: 20px;
        padding: 4px 20px;
        margin-top: -5px;
        background-color: lightgray;
        color: rgb(50, 50, 136);
    }
    
    .logo-head {
        height: 70px;
    }
    
    #msg {
        visibility: hidden;
        min-width: 250px;
        background-color: rgb(50, 50, 136);
        color: white;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        right: 33%;
        top: 40px;
        font-size: 17px;
        margin-right: 30px;
    }
    
    #msg.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 30px;
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 30px;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
    
    @keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
    
    .main-text {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .text {
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 4px;
        margin-top: 40px;
        text-align: center;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    
    @keyframes animate {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }
    }
    
    .success,
    .error {
        color: white;
        padding: 5px;
        margin: 5px 0 15px 0;
    }
    
    .success {
        background-color: green;
    }
    
    .error {
        background-color: red;
    }